@import "config";
@import "menu"; //menu after config

* {
  box-sizing: border-box;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url(../img/background.jpg);
  background: rgba(68, 68, 68, 0.9), url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  //lg heading is a class within h1, h2,h3 like in css would be h1.lg-header

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // background: lighten($color: $primary-color, $amount: 2);
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed; //always be on the top
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;

  min-height: calc(100vh - 60px);

  //styling icon

  .icons {
    margin-top: 1rem;

    //each icon in a tag
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color; //a:hover
        // transition: color 0.5s ease-out;
        @include easeOut();
      }
    }
  }

  //inside main
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh; //consider vh to 100, there 20 vh will take 20 of 100
    }
  }
}

//======ABOUT SECTION=====

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";

  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-one {
    grid-area: job1;
  }

  .job-two {
    grid-area: job2;
  }

  .job-three {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

//========My Projects========

.projects {
  display: grid;

  grid-gap: 0.7rem;

  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Button styles
//doing some inheritance
//https://youtu.be/oxTG7TVr7PQ?list=PLillGF-RfqbYoGoCjKoMOkVznV6aSXKzU&t=488
.btn {
  //style for both btns
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-clor($secondary-color);
  }
}

//Extring the btn class
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;

  background: lighten($primary-color, 50);
  color: #333;
}
//=======footer=========
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);

  color: set-text-color($primary-color);

  height: 60px;
}

//media query put at the bottom
@import "mobile";
